accelerate==0.27.2
diffuser==0.0.1
-e git+https://github.com/huggingface/diffusers@06ee907b73f34c00a0297b01db21dd09d0e140eb#egg=diffusers
GPUtil==1.4.0
gradio==4.31.2
gradio_client==0.16.3
Markdown==3.5.1
markdown-it-py==3.0.0
pydantic==2.6.1
pydantic_core==2.16.2
torch==2.1.2
torchaudio==2.1.2
torchmultimodal-nightly==2023.11.13
torchvision==0.16.2
tqdm==4.66.1
transformers==4.41.2